<mat-card *ngIf="gameState">
  <ng-container *ngFor="let participant of gameState.participants; let i = index">
    <a mat-flat-button 
      *ngIf="participant.active"
      [routerLink]="'/tech/' + i"
      routerLinkActive
      #route="routerLinkActive"
      [color]="route.isActive && 'accent'">{{ participant.civ.name }}</a>
  </ng-container>
</mat-card>
<app-tech-details *ngIf="gameState && selectedParticipant != undefined" [participant]="gameState.participants[selectedParticipant]" (change)="setGameState()"></app-tech-details>
