<nav>
  <a mat-flat-button routerLink="/census" routerLinkActive="test" #censusRoute="routerLinkActive" [color]="censusRoute.isActive && 'accent'">Census</a>
  <a mat-flat-button routerLink="/move" routerLinkActive="test" #moveRoute="routerLinkActive" [color]="moveRoute.isActive && 'accent'">Movement</a>
  <a mat-flat-button routerLink="/city-count" routerLinkActive="test" #cityCountRoute="routerLinkActive" [color]="cityCountRoute.isActive && 'accent'">City Count</a>
  <a mat-flat-button routerLink="/trade" routerLinkActive="test" #tradeRoute="routerLinkActive" [color]="tradeRoute.isActive && 'accent'">Trade Cards & Trade</a>
  <a mat-flat-button routerLink="/AST" routerLinkActive="test" #astRoute="routerLinkActive" [color]="astRoute.isActive && 'accent'">A.S.T.</a>
</nav>
