<nav>
  <a mat-flat-button routerLink="/census" routerLinkActive #censusRoute="routerLinkActive" [color]="censusRoute.isActive && 'accent'">Census</a>
  <a mat-flat-button routerLink="/move" routerLinkActive #moveRoute="routerLinkActive" [color]="moveRoute.isActive && 'accent'">Movement</a>
  <a mat-flat-button routerLink="/city-count" routerLinkActive #cityCountRoute="routerLinkActive" [color]="cityCountRoute.isActive && 'accent'">City Count</a>
  <a mat-flat-button routerLink="/trade" routerLinkActive #tradeRoute="routerLinkActive" [color]="tradeRoute.isActive && 'accent'">Trade Cards & Trade</a>
  <a mat-flat-button routerLink="/tech" routerLinkActive #techRoute="routerLinkActive" [color]="techRoute.isActive && 'accent'">Tech</a>
  <a mat-flat-button routerLink="/AST" routerLinkActive #astRoute="routerLinkActive" [color]="astRoute.isActive && 'accent'">A.S.T.</a>
  <a mat-flat-button routerLink="/victory-points" routerLinkActive #vpRoute="routerLinkActive" [color]="vpRoute.isActive && 'accent'">Victory Points</a>
</nav>
